<a href="https://colab.research.google.com/github/shannonshih/Tibame_GAD245-Practice-HW_0120/blob/main/03_04_Pandas_%E4%BD%9C%E6%A5%AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [26]:
import numpy as np
import pandas as pd

In [27]:
data = pd.read_excel('/content/drive/MyDrive/AI人才應用/20250109T010859Z-001/2024-12 AI數據應用人才養成班/data/R公司_人員資料.xlsx',engine='openpyxl')
data.head()

,員工編號(EmployeeNumber),性別(Gender),年齡(Age),是否為成年人(Over18),婚姻狀態(MaritalStatus),通勤距離(DistanceFromHome),教育程度(Education),教育專業領域(EducationField),部門(Department),職位名稱(JobRole),...,股票選擇權等級(StockOptionLevel),績效評估(PerformanceRating),出差頻率(BusinessTravel),去年訓練時間(TrainingTimesLastYear),工作滿意度(JobSatisfaction),工作環境滿意度(EnvironmentSatisfaction),工作投入(JobInvolvement),工作生活平衡(WorkLifeBalance),人際關係滿意度(RelationshipSatisfaction),離職(Attrition)
0,1,Female,41,Y,Single,1,2,Life Sciences,Sales,Sales Executive,...,0,3,Travel_Rarely,0,4,2,3,1,1,Yes
1,2,Male,49,Y,Married,8,1,Life Sciences,Research & Development,Research Scientist,...,1,4,Travel_Frequently,3,2,3,2,3,4,No
2,4,Male,37,Y,Single,2,2,Other,Research & Development,Laboratory Technician,...,0,3,Travel_Rarely,3,3,4,2,3,2,Yes
3,5,Female,33,Y,Married,3,4,Life Sciences,Research & Development,Research Scientist,...,0,3,Travel_Frequently,3,3,4,3,3,3,No
4,7,Male,27,Y,Married,2,1,Medical,Research & Development,Laboratory Technician,...,1,3,Travel_Rarely,3,2,1,3,3,4,No

In [30]:
import pandas as pd

# Read the Excel file
data = pd.read_excel('/content/drive/MyDrive/AI人才應用/20250109T010859Z-001/2024-12 AI數據應用人才養成班/data/R公司_人員資料.xlsx', engine='openpyxl')

# List all column names
print(data.columns)

Index(['員工編號(EmployeeNumber)', '性別(Gender)', '年齡(Age)', '是否為成年人(Over18)',
       '婚姻狀態(MaritalStatus)', '通勤距離(DistanceFromHome)', '教育程度(Education)',
       '教育專業領域(EducationField)', '部門(Department)', '職位名稱(JobRole)',
       '職位等級(JobLevel)', '在該公司工作總年資(YearsAtCompany)',
       '在該職位工作年資(YearsInCurrentRole)', '在該職等工作年資(YearsSinceLastPromotion)',
       '與現任管理者工作年資(YearsWithCurrManager)', '總工作年資(TotalWorkingYears)',
       '過去工作公司家數(NumCompaniesWorked)', '每日工資額(DailyRate)',
       '每小時工資額(HourlyRate)', '月收入(MonthlyIncome)', '月費率(MonthlyRate)',
       '標準工作時間(StandardHours)', '加班(OverTime)', '調薪百分比(PercentSalaryHike)',
       '股票選擇權等級(StockOptionLevel)', '績效評估(PerformanceRating)',
       '出差頻率(BusinessTravel)', '去年訓練時間(TrainingTimesLastYear)',
       '工作滿意度(JobSatisfaction)', '工作環境滿意度(EnvironmentSatisfaction)',
       '工作投入(JobInvolvement)', '工作生活平衡(WorkLifeBalance)',
       '人際關係滿意度(RelationshipSatisfaction)', '離職(Attrition)'],
      dtype='object')

In [33]:
# 請列出 離職 這個欄位的資料

# Extract the '離職' column
resign = data['離職(Attrition)']
resign

0       Yes
1        No
2       Yes
3        No
4        No
       ...
1465     No
1466     No
1467     No
1468     No
1469     No
Name: 離職(Attrition), Length: 1470, dtype: object

In [46]:
# 請查詢並列出 已經離職 的員工

resign_employee = data['離職(Attrition)'] == 'Yes'
# data[resign_employee]['員工編號(EmployeeNumber)']
pd.DataFrame(data[resign_employee])

,員工編號(EmployeeNumber),性別(Gender),年齡(Age),是否為成年人(Over18),婚姻狀態(MaritalStatus),通勤距離(DistanceFromHome),教育程度(Education),教育專業領域(EducationField),部門(Department),職位名稱(JobRole),...,股票選擇權等級(StockOptionLevel),績效評估(PerformanceRating),出差頻率(BusinessTravel),去年訓練時間(TrainingTimesLastYear),工作滿意度(JobSatisfaction),工作環境滿意度(EnvironmentSatisfaction),工作投入(JobInvolvement),工作生活平衡(WorkLifeBalance),人際關係滿意度(RelationshipSatisfaction),離職(Attrition)
0,1,Female,41,Y,Single,1,2,Life Sciences,Sales,Sales Executive,...,0,3,Travel_Rarely,0,4,2,3,1,1,Yes
2,4,Male,37,Y,Single,2,2,Other,Research & Development,Laboratory Technician,...,0,3,Travel_Rarely,3,3,4,2,3,2,Yes
14,19,Male,28,Y,Single,24,3,Life Sciences,Research & Development,Laboratory Technician,...,0,3,Travel_Rarely,4,3,3,2,3,2,Yes
21,27,Male,36,Y,Single,9,4,Life Sciences,Sales,Sales Representative,...,0,4,Travel_Rarely,4,1,3,2,3,2,Yes
24,31,Male,34,Y,Single,6,1,Medical,Research & Development,Research Scientist,...,0,3,Travel_Rarely,2,1,2,3,3,3,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,2023,Male,23,Y,Married,9,3,Marketing,Sales,Sales Representative,...,1,3,Travel_Frequently,3,1,4,3,2,1,Yes
1442,2027,Male,29,Y,Married,1,4,Medical,Research & Development,Research Scientist,...,3,3,Travel_Rarely,3,4,1,3,4,2,Yes
1444,2032,Male,56,Y,Married,7,2,Technical Degree,Research & Development,Laboratory Technician,...,1,3,Travel_Rarely,4,3,4,3,1,4,Yes
1452,2044,Male,50,Y,Divorced,1,4,Life Sciences,Sales,Sales Executive,...,2,3,Travel_Frequently,3,3,2,3,3,4,Yes
1461,2055,Male,50,Y,Divorced,28,3,Marketing,Sales,Sales Executive,...,1,3,Travel_Rarely,3,1,4,2,3,2,Yes

In [57]:
# 請增加一個新的欄位 離職_數值
# 並分別用 0 跟 1 來表示這個員工是否離職

# resign_employee = data['離職(Attrition)'] == 'Yes'
# data['離職(Attrition)'] == 'Yes'
# resign_value1 = 1

# resign_value2 = 0
# data['離職(Attrition)'] == 'Yes':
resign_employee.index == True
resign_value = 1
data[resign_employee][resign_value]
# resign_value = data[data.離職(Attrition)] == 'Yes'
# resign_value = 0
# data['離職_數值'] = data['離職(Attrition)'].apply(resign_value)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()